<?xml version="1.0" encoding="UTF-8"?>
<!-- flink-pcap-index-job/src/main/resources/log4j2.xml -->
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="RollingFile" 
                     fileName="/var/log/flink/pcap-index-job.log"
                     filePattern="/var/log/flink/pcap-index-job-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.flink" level="INFO"/>
        <Logger name="org.apache.kafka" level="WARN"/>
        <Logger name="com.clickhouse" level="WARN"/>
        <Logger name="com.traffic.flink" level="INFO"/>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>